<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Shadow-NET :: Dashboard</title>


<!-- ========================================================== -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/dataTables.min.css}"
	href="../../assets/css/dataTables.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/jquery-ui.min.css}"
	href="../../assets/css/jquery-ui.min.css" />

<script type="text/javascript"
	th:src="@{/assets/js/jquery-migrate-1.1.0.min.js}"
	src="../../assets/js/jquery-migrate-1.1.0.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/jquery-ui.min.js}"
	src="../../assets/js/jquery-ui.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/jquery.slimscroll.min.js}"
	src="../../assets/js/jquery.slimscroll.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/jquery.sparkline.min.js}"
	src="../../assets/js/jquery.sparkline.min.js"></script>

<link rel="stylesheet"
	th:href="@{/assets/css/emojify-emoticons.min.css}"
	href="../../assets/css/emojify-emoticons.min.css" />

<script type="text/javascript" th:src="@{/assets/js/emojify.min.js}"
	src="../../assets/js/emojify.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"
	href="../../assets/css/bootstrap.min.css" />

<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"
	src="../../assets/js/bootstrap.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}"
	href="../../assets/css/animate.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/style.min.css}"
	href="../../assets/css/style.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/style-responsive.min.css}"
	href="../../assets/css/style-responsive.min.css" />

<script type="text/javascript" th:src="@{/assets/js/dashboard.min.js}"
	src="../../assets/js/dashboard.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/apps.min.js}"
	src="../../assets/js/apps.min.js"></script>

<link rel="stylesheet" th:href="@{/css/table.css}"
	href="../../css/table.css" />

<script type="text/javascript" th:src="@{/js/style.js}"
	src="../../js/style.js"></script>

</head>

<!-- ================== BEGIN BODY ================== -->
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container"
		class="fade page-sidebar-minified page-sidebar-fixed page-header-fixed">
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">

				<div id="nav-left"></div>

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown navbar-user"><a href="javascript:;"
						class="dropdown-toggle" data-toggle="dropdown"> <img
							src="assets/img/user-7.jpg" alt="" /> <span class="hidden-xs"><text
									th:inline="text"> [[${#httpServletRequest.remoteUser}]]</text></span>
							<b class="caret"></b>
					</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="/">Dashboard</a></li>
							<li><a href="/blocklist">Block List</a></li>
							<li data-toggle="modal" data-target=".bd-example-modal-lg"><a
								href="javascript:;">Clear Database</a></li>
							<li class="divider"></li>
							<li style="padding-left: 10px">
								<form th:action="@{/logout}" method="post">
									<button class="btn-xs btn-default" type="submit">Log
										Out</button>
								</form>
							</li>
						</ul></li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->

		<!-- =================begin #sidebar ===================== -->
		<div id="sidebar" class="sidebar"></div>
		<div class="sidebar-bg"></div>



		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="/">Home</a></li>
				<li>Malicious IPs</li>
				<li class="active">Probing</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">
				PROBING IPs <small>Detailed</small>
			</h1>

			<!--  =========================Panel 1============================== -->

			<div class="panel panel-inverse">
				<div class="panel-body">
					<div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Time</th>
									<th>Source</th>
									<th>Destination</th>
									<th>srcPort</th>
									<th>destPort</th>
									<th>Direction</th>
									<th>Location</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="packet : ${probing}">
									<td class="counterCell"></td>
									<td th:text="${packet.Time}"></td>
									<td th:text="${packet.SourceIP}" class="ip"></td>
									<td th:text="${packet.DestinationIP}"></td>
									<td th:text="${packet.SourcePort}"></td>
									<td th:text="${packet.DestPort}"></td>
									<td th:text="${packet.Direction}"></td>
									<td th:text="${packet.Location}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- ============================== -->
		</div>
		<!-- end #content -->
	</div>
	<!-- end page container -->

	<!-- CLEAR DB: MODAL -->
	<div id="modal"></div>

	<script type="text/javascript" th:src="@{/js/loadTemplates.js}"
		src="../../js/loadTemplates.js"></script>
	<script>
		$(document).ready(function() {
			App.init();
			setTimeout(function() {
				$('.list').toggleClass('active');
				$('.probing').toggleClass('active');
			}, 5);
		});
	</script>

</body>
</html>