<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
	name="viewport" />

<title>Shadow-NET :: Dashboard</title>

<script th:include="basePage :: scripts" th:remove="tag"></script>

</head>

<!-- ================== BEGIN BODY ================== -->
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container"
		class="fade page-sidebar-minified page-sidebar-fixed page-header-fixed">
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">

				<div id="navigation"></div>

			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->

		<!-- begin #sidebar -->
		<div id="sidebar"></div>

		<!-- begin #content -->
		<div id="content" class="content">

			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="/">Home</a></li>
				<li>Malicious IPs</li>
				<li class="active">SIP</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">
				SIP IPs <small>Detailed</small>
			</h1>

			<!--  =========================Panel 1============================== -->


			<div class="panel panel-inverse">
				<div class="panel-body">
					<div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Time</th>
									<th>Source</th>
									<th>Destination</th>
									<th>srcPort</th>
									<th>destPort</th>
									<th>Direction</th>
									<th>Location</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="packet : ${sip}">
									<td class="counterCell"></td>
									<td th:text="${packet.Time}"></td>
									<td th:text="${packet.SourceIP}" class="ip"></td>
									<td th:text="${packet.DestinationIP}"></td>
									<td th:text="${packet.SourcePort}"></td>
									<td th:text="${packet.DestPort}"></td>
									<td th:text="${packet.Direction}"></td>
									<td th:text="${packet.Location}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- ============================== -->
		</div>
		<!-- end #content -->
	</div>
	<!-- end page container -->

	<!-- CLEAR DB: MODAL -->
	<div id="modal"></div>

	<div style="display: none">
		<div id="sessionuser" th:inline="text">
			[[${#httpServletRequest.remoteUser}]]</div>

		<form id="hiddenform" th:action="@{/logout}" method="post">
			<button class="btn-xs btn-default" type="submit">Log Out</button>
		</form>
	</div>

	<script type="text/javascript" th:src="@{/js/loadTemplates.js}"
		src="../../js/loadTemplates.js"></script>
	<script>
		$(document).ready(function() {
			App.init();
			setTimeout(function() {
				$('.list').toggleClass('active');
				$('.sip').toggleClass('active');
			}, 100);
		});
	</script>

</body>
</html>