<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Shadow-NET :: Dashboard</title>


<!-- ========================================================== -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/dataTables.min.css}"
	href="../../assets/css/dataTables.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/jquery-ui.min.css}"
	href="../../assets/css/jquery-ui.min.css" />

<script type="text/javascript"
	th:src="@{/assets/js/jquery-migrate-1.1.0.min.js}"
	src="../../assets/js/jquery-migrate-1.1.0.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/jquery-ui.min.js}"
	src="../../assets/js/jquery-ui.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/jquery.slimscroll.min.js}"
	src="../../assets/js/jquery.slimscroll.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/jquery.sparkline.min.js}"
	src="../../assets/js/jquery.sparkline.min.js"></script>

<link rel="stylesheet"
	th:href="@{/assets/css/emojify-emoticons.min.css}"
	href="../../assets/css/emojify-emoticons.min.css" />

<script type="text/javascript" th:src="@{/assets/js/emojify.min.js}"
	src="../../assets/js/emojify.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"
	href="../../assets/css/bootstrap.min.css" />

<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"
	src="../../assets/js/bootstrap.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}"
	href="../../assets/css/animate.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/style.min.css}"
	href="../../assets/css/style.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/style-responsive.min.css}"
	href="../../assets/css/style-responsive.min.css" />

<script type="text/javascript" th:src="@{/assets/js/dashboard.min.js}"
	src="../../assets/js/dashboard.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/apps.min.js}"
	src="../../assets/js/apps.min.js"></script>

<link rel="stylesheet" th:href="@{/css/table.css}"
	href="../../css/table.css" />

<script type="text/javascript" th:src="@{/js/style.js}"
	src="../../js/style.js"></script>

</head>

<!-- ================== BEGIN BODY ================== -->
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container"
		class="fade page-sidebar-minified page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="/" class="navbar-brand"><i class="fa fa-tachometer"
						aria-hidden="true"></i> <b>Shadow-NET</b></a>
					<button type="button" class="navbar-toggle"
						data-click="sidebar-toggled">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<!-- end mobile sidebar expand / collapse button -->
				</div>

				<ul class="nav navbar-nav">
					<li><a href="/">DashBoard</a></li>
					<li><a href="/urls">Request Urls</a></li>
					<li><a href="/hashes">Hashes</a></li>
					<li><a href="/setting">Settings</a></li>
				</ul>

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown navbar-user"><a href="javascript:;"
						class="dropdown-toggle" data-toggle="dropdown"> <img
							src="assets/img/user-7.jpg" alt="" /> <span class="hidden-xs"><text
									th:inline="text"> [[${#httpServletRequest.remoteUser}]]</text></span>
							<b class="caret"></b>
					</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="/">Dashboard</a></li>
							<li><a href="/setting">Setting</a></li>
							<li class="divider"></li>
							<li style="padding-left: 10px">
								<form th:action="@{/logout}" method="post">
									<button class="btn-xs btn-default" type="submit">Log
										Out</button>
								</form>
							</li>
						</ul></li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->


		<!-- =================begin #sidebar ===================== -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="image">
							<a href="javascript:;"><img src="assets/img/user-7.jpg"
								alt="" /></a>
						</div>
						<div class="info">
							<text th:inline="text">
							[[${#httpServletRequest.remoteUser}]]</text>
							<small>Network Administrator</small>
						</div>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Navigation</li>
					<li class=""><a href="/"> <b class="caret pull-right"></b>
							<i class="fa fa-laptop"></i> <span> Dashboard </span>
					</a></li>

					<li class="active has-sub"><a href="#"><b
							class="caret pull-right"></b><i class="fa fa-list-alt"></i><span>MaliciousIPs</span></a>
						<ul class="sub-menu">
							<li><a href="/probing">PROBING</a></li>
							<li><a href="/malware">MALWARE</a></li>
							<li><a href="/web">WEB</a></li>
							<li><a href="/sip">SIP</a></li>
							<li class="active"><a href="/ssh">SSH</a></li>
							<li><a href="/db">DB</a></li>
						</ul></li>

					<li class="has-sub"><a href="#"> <b
							class="caret pull-right"></b> <i class="fa fa-th"></i> <span>Malicious
								Requests</span>
					</a>
						<ul class="sub-menu">
							<li><a href="/urls">Request Urls</a></li>
						</ul></li>

					<li class="has-sub"><a href="#"> <b
							class="caret pull-right"></b> <i class="fa fa-suitcase"></i> <span>Malicious
								Responses</span>
					</a>
						<ul class="sub-menu">
							<li><a href="/hashes">Matched Md5 Hashes</a></li>
						</ul></li>

					<li class="has-sub"><a href="javascript:;"> <b
							class="caret pull-right"></b> <i class="fa fa-area-chart"></i> <span>
								Graphs </span>
					</a>
						<ul class="sub-menu">
							<li><a href="/">Pie Chart</a></li>
							<li><a href="/">Bar Chart </a></li>
						</ul></li>

					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn"
						data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->

		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="/">Home</a></li>
				<li>Malicious IPs</li>
				<li class="active">SSH</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">
				SSH IPs <small>Detailed</small>
			</h1>

			<!--  =========================Panel 1============================== -->

			<div class="panel panel-inverse">
				<div class="panel-body">
					<div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Time</th>
									<th>Source</th>
									<th>Destination</th>
									<th>srcPort</th>
									<th>destPort</th>
									<th>Direction</th>
									<th>Location</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="packet : ${ssh}">
									<td class="counterCell"></td>
									<td th:text="${packet.Time}"></td>
									<td th:text="${packet.SourceIP}" class="ip"></td>
									<td th:text="${packet.DestinationIP}"></td>
									<td th:text="${packet.SourcePort}"></td>
									<td th:text="${packet.DestPort}"></td>
									<td th:text="${packet.Direction}"></td>
									<td th:text="${packet.Location}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- ============================== -->
		</div>
		<!-- end #content -->

		<!-- begin scroll to top btn -->
		<a href="javascript:;"
			class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade"
			data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>

</body>
</html>