@CHARSET "UTF-8";

.panel-live {
	background-color: #282e33;
}

.bar-live {
	height: 63px;
	width: 4px;
	background: #d17d00;
	float: left
}

.media-list {
	padding-top: 5px;
}

.media-list text {
	color: white
}

#map {
	width: 90%;
	height: 90%;
	height: 380px;
	position: relative;
}

#probing, #malware, #web, #ssh, #sip, #db {
	height: 50px;
	width: 120px;
	background-color: #60BD68;
}

.graphs {
	background-color: #f9f9f9;
}