@CHARSET "UTF-8";

.panel-live {
	background-color: #282e33;
}

.bar-live {
	height: 64px;
	padding-top: 5px;
	width: 4px;
	background: #d17d00;
	float: left
}

.media-list text {
	color: white
}

#map {
	width: 90%;
	height: 90%;
	height: 380px;
	position: relative;
}

#probing, #malware, #web, #ssh, #sip, #db {
	height: 50px;
	width: 120px;
	background-color: #078c6c;
}

.graphs {
	background-color: #f9f9f9;
}

table {
	counter-reset: tableCount;
}

.counterCell:before {
	content: counter(tableCount);
	counter-increment: tableCount;
}