@CHARSET "UTF-8";

#map {
	width: 90%;
	height:90%;
	height:380px;
	position:relative;
}

table {
	counter-reset: tableCount;
	
}

.counterCell:before {
	content: counter(tableCount);
	counter-increment: tableCount;
}

#probing, #malware, #web, #ssh, #sip, #db {
	height: 50px;
	width: 120px;
	background-color: #8acc9b;
	
}