@CHARSET "UTF-8";

#map {
	width: 100%;
	height:100%;
	height:350px;
	width:810px
}

table {
	counter-reset: tableCount;
	
}

.counterCell:before {
	content: counter(tableCount);
	counter-increment: tableCount;
}

.btn {
	height: 50px;
	width: 120px;
}

​