<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Shadow-NET :: Dashboard</title>


<!-- ========================================================== -->

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/jquery-ui.min.css}"
	href="../../assets/css/jquery-ui.min.css" />

<script type="text/javascript"
	th:src="@{/assets/js/jquery-migrate-1.1.0.min.js}"
	src="../../assets/js/jquery-migrate-1.1.0.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/jquery-ui.min.js}"
	src="../../assets/js/jquery-ui.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/jquery.slimscroll.min.js}"
	src="../../assets/js/jquery.slimscroll.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/jquery.sparkline.min.js}"
	src="../../assets/js/jquery.sparkline.min.js"></script>

<link rel="stylesheet"
	th:href="@{/assets/css/emojify-emoticons.min.css}"
	href="../../assets/css/emojify-emoticons.min.css" />

<script type="text/javascript" th:src="@{/assets/js/sockjs.min.js}"
	src="../../assets/js/sockjs.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/stomp.min.js}"
	src="../../assets/js/stomp.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/emojify.min.js}"
	src="../../assets/js/emojify.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/d3.v3.min.js}"
	src="../../assets/js/d3.v3.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/topojson.v1.min.js}"
	src="../../assets/js/topojson.v1.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/Chart.js}"
	src="../../assets/js/Chart.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"
	href="../../assets/css/bootstrap.min.css" />

<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"
	src="../../assets/js/bootstrap.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/datamaps.world.min.js}"
	src="../../assets/js/datamaps.world.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}"
	href="../../assets/css/animate.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/style.min.css}"
	href="../../assets/css/style.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/style-responsive.min.css}"
	href="../../assets/css/style-responsive.min.css" />

<script type="text/javascript" th:src="@{/assets/js/dashboard.min.js}"
	src="../../assets/js/dashboard.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/apps.min.js}"
	src="../../assets/js/apps.min.js"></script>

<link rel="stylesheet" th:href="@{/css/index.css}"
	href="../../css/style.css" />

<script type="text/javascript" th:src="@{/js/app.js}"
	src="../../js/app.js"></script>

</head>

<!-- ================== BEGIN BODY ================== -->
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->


	<!-- begin #page-container -->
	<div id="page-container"
		class="fade page-sidebar-minified page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="/" class="navbar-brand"><i class="fa fa-tachometer"
						aria-hidden="true"></i> <b>Shadow-NET</b></a>
					<button type="button" class="navbar-toggle"
						data-click="sidebar-toggled">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<!-- end mobile sidebar expand / collapse button -->
				</div>

				<ul class="nav navbar-nav">
					<li class="active"><a href="/">DashBoard</a></li>
					<li><a href="/urls">Request Urls</a></li>
					<li><a href="/hashes">Hashes</a></li>
					<li><a href="/setting">Settings</a></li>
				</ul>


				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown navbar-user"><a href="javascript:;"
						class="dropdown-toggle" data-toggle="dropdown"> <img
							src="assets/img/user-7.jpg" alt="" /> <span class="hidden-xs"><text
									th:inline="text"> [[${#httpServletRequest.remoteUser}]]</text></span>
							<b class="caret"></b>
					</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="/">Dashboard</a></li>
							<li><a href="/setting">Setting</a></li>
							<li data-toggle="modal" data-target=".bd-example-modal-lg"><a
								href="javascript:;">Clear Database</a></li>
							<li class="divider"></li>
							<li style="padding-left: 10px">
								<form th:action="@{/logout}" method="post">
									<button class="btn-xs btn-default" type="submit">Log
										Out</button>
								</form>
							</li>
						</ul></li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->

		<!-- =================begin #sidebar ===================== -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="image">
							<a href="javascript:;"><img src="assets/img/user-7.jpg"
								alt="" /></a>
						</div>
						<div class="info">
							<text th:inline="text">
							[[${#httpServletRequest.remoteUser}]]</text>
							<small>Network Administrator</small>
						</div>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Navigation</li>
					<li class="active"><a href="#"> <b
							class="caret pull-right"></b> <i class="fa fa-laptop"></i> <span>
								Dashboard </span>
					</a></li>

					<li class="has-sub"><a href="#"><b
							class="caret pull-right"></b><i class="fa fa-list-alt"></i><span>MaliciousIPs</span></a>
						<ul class="sub-menu">
							<li><a href="/probing">PROBING</a></li>
							<li><a href="/malware">MALWARE</a></li>
							<li><a href="/web">WEB</a></li>
							<li><a href="/sip">SIP</a></li>
							<li><a href="/ssh">SSH</a></li>
							<li><a href="/db">DB</a></li>
						</ul></li>

					<li class="has-sub"><a href="#"> <b
							class="caret pull-right"></b> <i class="fa fa-th"></i> <span>Malicious
								Requests</span></a>
						<ul class="sub-menu">
							<li><a href="/urls">Request Urls</a></li>
						</ul></li>

					<li class="has-sub"><a href="#"> <b
							class="caret pull-right"></b> <i class="fa fa-suitcase"></i> <span>Malicious
								Responses</span></a>
						<ul class="sub-menu">
							<li><a href="/hashes">Matched Md5 Hashes</a></li>
						</ul></li>

					<li class="has-sub"><a href="javascript:;"> <b
							class="caret pull-right"></b> <i class="fa fa-area-chart"></i> <span>
								Graphs </span></a>
						<ul class="sub-menu">
							<li><a href="#pie">Pie Chart</a></li>
							<li><a href="#bar">Bar Chart </a></li>
						</ul></li>


					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn"
						data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->

		<!-- ===============begin #content===================== -->
		<div id="content" class="content">

			<!--  =========================Panel 1============================== -->

			<div class="panel panel-inverse">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<div class="dropdown pull-right">
							<button class="btn-xs btn-primary dropdown-toggle" type="button"
								data-toggle="dropdown">
								Filter <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="/?filter=hour">Last Hour</a></li>
								<li><a href="/?filter=day">Last Day</a></li>
								<li><a href="/">All</a></li>
							</ul>
						</div>
					</div>
					<h4 class="panel-title">DashBoard</h4>

				</div>
				<div class="panel-body panel-live" style="height: 90px">
					<div id="jscroll" style="width: 100%;">
						<div class="media-list row"></div>
					</div>
				</div>

				<div class="panel-body panel-live">
					<div id="map"></div>

					<div id="pcount">
						<div class="col-sm-2">
							<button id="probing" class="btn btn-default">
								<text th:text="${pronum}" class="pronum" />
								<p>Probing Attacks</p>
							</button>
						</div>
						<div class="col-sm-2">
							<button id="malware" class="btn btn-default">
								<text th:text="${malnum}" class="malnum" />
								<p>Malware Attacks</p>
							</button>
						</div>
						<div class="col-sm-2">
							<button id="web" class="btn btn-default">
								<text th:text="${webnum}" class="webnum" />
								<p>Web Attacks</p>
							</button>
						</div>
						<div class="col-sm-2">
							<button id="sip" class="btn btn-default">
								<text th:text="${sipnum}" class="sipnum" />
								<p>SIP Attacks</p>
							</button>
						</div>
						<div class="col-sm-2">
							<button id="ssh" class="btn btn-default">
								<text th:text="${sshnum}" class="sshnum" />
								<p>SSH Attacks</p>
							</button>
						</div>
						<div class="col-sm-2">
							<button id="db" class="btn btn-default">
								<text th:text="${dbnum}" class="dbnum" />
								<p>DB Attacks</p>
							</button>
						</div>
					</div>
				</div>
			</div>

			<!-- ========== PANEL 2 =============== -->
			<div class="col-sm-6">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">Pie Chart</h4>
					</div>
					<div class="panel-body graphs">
						<div>
							<canvas id="pie"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- =========== PANEL 3 =================== -->
			<div class="col-sm-6">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">Bar Chart</h4>
					</div>
					<div class="panel-body graphs">
						<div>
							<canvas id="bar"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- =========== PANEL 4 =================== -->
			<div class="col-sm-4">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">Top 10 Countries</h4>
					</div>
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Country</th>
									<th>Malicious Packets</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="packet : ${ips}">
									<td class="counterCell"></td>
									<td th:text="${packet.Key}"></td>
									<td th:text="${packet.Value}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- ============================= -->
			<div class="countrycode" style="display: none"></div>
		</div>
		<!-- end #content -->
	</div>
	<!-- ============================== -->

	<!-- CLEAR DB: MODAL -->
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Are you Sure?</h4>
				</div>
				<div class="modal-body">
					<p>
					<h5>This will erase all of the content stored in database.</h5>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">No</button>
					<a href="/del"><button type="button" class="btn btn-danger"
							data-dismiss="/del">Yes</button></a>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>

	<!-- begin scroll to top btn -->
	<a href="javascript:;"
		class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade"
		data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
	<!-- end scroll to top btn -->


	<!-- ============= Page level JS ================== -->

	<script>
		$(function() {
			$('#jscroll').slimScroll({
				height : '80px',
				position : 'right',
				railVisible : false,
				alwaysVisible : false
			});
		});
	</script>
	<script type="text/javascript" th:src="@{/js/map.js}"
		src="../../js/map.js"></script>
	<script type="text/javascript" th:src="@{/js/filterReq.js}"
		src="../../js/filterReq.js"></script>
	<script type="text/javascript" th:src="@{/js/charts.js}"
		src="../../js/charts.js"></script>
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>

</body>
</html>

