<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Shadow-NET :: Statistics</title>


<!-- ========================================================== -->

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/jquery-ui.min.css}"
	href="../../assets/css/jquery-ui.min.css" />

<script type="text/javascript"
	th:src="@{/assets/js/jquery-migrate-1.1.0.min.js}"
	src="../../assets/js/jquery-migrate-1.1.0.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/jquery-ui.min.js}"
	src="../../assets/js/jquery-ui.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/jquery.slimscroll.min.js}"
	src="../../assets/js/jquery.slimscroll.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/jquery.sparkline.min.js}"
	src="../../assets/js/jquery.sparkline.min.js"></script>

<link rel="stylesheet"
	th:href="@{/assets/css/emojify-emoticons.min.css}"
	href="../../assets/css/emojify-emoticons.min.css" />

<script type="text/javascript" th:src="@{/assets/js/emojify.min.js}"
	src="../../assets/js/emojify.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/d3.v3.min.js}"
	src="../../assets/js/d3.v3.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/topojson.v1.min.js}"
	src="../../assets/js/topojson.v1.min.js"></script>


<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"
	href="../../assets/css/bootstrap.min.css" />

<script type="text/javascript" th:src="@{/assets/js/Chart.js}"
	src="../../assets/js/Chart.js"></script>

<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"
	src="../../assets/js/bootstrap.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}"
	href="../../assets/css/animate.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/style.min.css}"
	href="../../assets/css/style.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/style-responsive.min.css}"
	href="../../assets/css/style-responsive.min.css" />

<script type="text/javascript" th:src="@{/assets/js/dashboard.min.js}"
	src="../../assets/js/dashboard.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/apps.min.js}"
	src="../../assets/js/apps.min.js"></script>



</head>

<!-- ================== BEGIN BODY ================== -->
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container"
		class="fade page-sidebar-minified page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="/" class="navbar-brand"><i class="fa fa-tachometer"
						aria-hidden="true"></i> <b>Shadow-NET</b></a>
					<button type="button" class="navbar-toggle"
						data-click="sidebar-toggled">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<!-- end mobile sidebar expand / collapse button -->
				</div>

				<ul class="nav navbar-nav">
					<li><a href="/">DashBoard</a></li>
					<li><a href="/urls">Request Urls</a></li>
					<li><a href="/hashes">Hashes</a></li>
					<li><a href="/blocklist">Block List</a></li>
				</ul>

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown navbar-user"><a href="javascript:;"
						class="dropdown-toggle" data-toggle="dropdown"> <img
							src="assets/img/user-7.jpg" alt="" /> <span class="hidden-xs"><text
									th:inline="text"> [[${#httpServletRequest.remoteUser}]]</text></span>
							<b class="caret"></b>
					</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="/">Dashboard</a></li>
							<li><a href="/blocklist">Block List</a></li>
							<li data-toggle="modal" data-target=".bd-example-modal-lg"><a
								href="javascript:;">Clear Database</a></li>
							<li class="divider"></li>
							<li style="padding-left: 10px">
								<form th:action="@{/logout}" method="post">
									<button class="btn-xs btn-default" type="submit">Log
										Out</button>
								</form>
							</li>
						</ul></li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->

		<!-- =================begin #sidebar ===================== -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<div class="image">
							<a href="#"><img src="assets/img/user-7.jpg" alt="" /></a>
						</div>
						<div class="info">
							<text th:inline="text">
							[[${#httpServletRequest.remoteUser}]]</text>
							<small>Network Administrator</small>
						</div>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-header">Navigation</li>
					<li><a href="#"> <b class="caret pull-right"></b> <i
							class="fa fa-laptop"></i> <span> Dashboard </span>
					</a></li>
					<li class="has-sub"><a href="#"><b
							class="caret pull-right"></b><i class="fa fa-list-alt"></i><span>MaliciousIPs</span></a>
						<ul class="sub-menu">
							<li><a href="/probing">PROBING</a></li>
							<li><a href="/malware">MALWARE</a></li>
							<li><a href="/web">WEB</a></li>
							<li><a href="/sip">SIP</a></li>
							<li><a href="/ssh">SSH</a></li>
							<li><a href="/db">DB</a></li>
						</ul></li>
					<li class="has-sub"><a href="#"> <b
							class="caret pull-right"></b> <i class="fa fa-th"></i> <span>Malicious
								Requests</span></a>
						<ul class="sub-menu">
							<li><a href="/urls">Request Urls</a></li>
						</ul></li>
					<li class="has-sub"><a href="#"> <b
							class="caret pull-right"></b> <i class="fa fa-suitcase"></i> <span>Malicious
								Responses</span></a>
						<ul class="sub-menu">
							<li><a href="/hashes">Matched Md5 Hashes</a></li>
						</ul></li>
					<li class="has-sub active"><a href="#"> <b
							class="caret pull-right"></b> <i class="fa fa-area-chart"></i> <span>
								Statistics </span></a>
						<ul class="sub-menu">
							<li><a href="#top10countries">Top 10 Countries</a></li>
							<li><a href="#top10ips">Top 10 IPs</a></li>
						</ul></li>

					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn"
						data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->

		<!-- ===============begin #content===================== -->
		<div id="content" class="content">

			<!-- =========== PANEL 1 =================== -->
			<div class="col-sm-4">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">Top 10 Countries</h4>
					</div>
					<div class="panel-body graphs">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Country</th>
									<th>Malicious Packets</th>
								</tr>
							</thead>
							<tbody id="top10countries">

							</tbody>
						</table>
					</div>
					<script th:inline="javascript">
					/*<![CDATA[*/
					
					var country = [[${top10countries}]];
					var count=1;

					var countryArray = [];
					for (var key in country){
						countryArray.push([key, country[key]]);
					}
					
					for(var index=0; index < 11; index++){
						var html = "<tr><td>" + count + "</td><td id='ckey" + count + "'>" + countryArray[index][0] + "</td><td class='value" + count + "'>" + countryArray[index][1] + "</td></tr>";
						$("#top10countries").append(html);
						count++;
						}
					/*]]>*/
					</script>

				</div>
			</div>

			<!-- ========== PANEL 2 =============== -->
			<div class="col-sm-8">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">Top Countries</h4>
					</div>
					<div class="panel-body graphs">
						<div>
							<canvas id="cbar"></canvas>
						</div>
					</div>

					<script>
				var country1 = $('#top10countries').find('#ckey1').text();
				var country2 = $('#top10countries').find('#ckey2').text();
				var country3 = $('#top10countries').find('#ckey3').text();
				var country4 = $('#top10countries').find('#ckey4').text();
				var country5 = $('#top10countries').find('#ckey5').text();
				var country6 = $('#top10countries').find('#ckey6').text();
				var country7 = $('#top10countries').find('#ckey7').text();
				var country8 = $('#top10countries').find('#ckey8').text();
				var country9 = $('#top10countries').find('#ckey9').text();
				var country10 = $('#top10countries').find('#ckey10').text();
				
				var val1 = parseInt($('#top10countries').find('.value1').text());
				var val2 = parseInt($('#top10countries').find('.value2').text());
				var val3 = parseInt($('#top10countries').find('.value3').text());
				var val4 = parseInt($('#top10countries').find('.value4').text());
				var val5 = parseInt($('#top10countries').find('.value5').text());
				var val6 = parseInt($('#top10countries').find('.value6').text());
				var val7 = parseInt($('#top10countries').find('.value7').text());
				var val8 = parseInt($('#top10countries').find('.value8').text());
				var val9 = parseInt($('#top10countries').find('.value9').text());
				var val10 = parseInt($('#top10countries').find('.value10').text());

				var graphData = {
						labels : [ country1,country2,country3,country4, country5,country6,country7,country8,country9,country10],
						datasets : [ {
							data : [ val1, val2, val3 ,val4,val5,val6,val7,val8,val9,val10 ],
							backgroundColor : [ '#FAA43A', '#DECF3F', '#5DA5DA', '#B276B2', '#DECF3F', '#FAA43A', '#5DA5DA', '#B276B2', '#000333' ,'#FAA43A' ]
						} ]

					};
				var bar = document.getElementById("cbar");
						window.myBar = new Chart(bar, {
							type : 'bar',
							data : graphData,
							options : {
								responsive : true,
								legend : {
									display : false
								},
								title : {
									display : false,
									text : 'Bar Chart'
								}
							}
						});
				
			</script>
				</div>
			</div>

			<!-- =========== PANEL 3 =================== -->
			<div class="col-sm-12">
				<div class="col-sm-4">
					<div class="panel panel-inverse">
						<div class="panel-heading">
							<h4 class="panel-title">Top 10 IPs`</h4>
						</div>
						<div class="panel-body graphs">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>IP</th>
										<th>Count</th>
									</tr>
								</thead>
								<tbody id="top10ips">
								</tbody>
							</table>
						</div>
						<script th:inline="javascript">
					/*<![CDATA[*/	
					var urls = [[${top10ips}]];
					var count=1;

					var urlsArray = [];
					for (var key in urls){
						urlsArray.push([key, urls[key]]);
					}
					
					for(var index=0; index < 10; index++){
						var html = "<tr><td class='ikey" + count + "'>" + urlsArray[index][0] + "</td><td class='value" + count + "'>" + urlsArray[index][1] + "</td></tr>";
						$("#top10ips").append(html);
						count++;
						}
					/*]]>*/
					</script>

					</div>
				</div>

				<!-- =========== PANEL 4 =================== -->
				<div class="col-sm-8">
					<div class="panel panel-inverse">
						<div class="panel-heading">
							<h4 class="panel-title">Top 10 IPs</h4>
						</div>
						<div class="panel-body graphs">
							<div>
								<canvas id="ubar"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				var ip1 = $('#top10ips').find('#ikey1').text();
				var ip2 = $('#top10ips').find('#ikey2').text();
				var ip3 = $('#top10ips').find('#ikey3').text();
				var ip4 = $('#top10ips').find('#ikey4').text();
				var ip5 = $('#top10ips').find('#ikey5').text();
				var ip6 = $('#top10ips').find('#ikey6').text();
				var ip7 = $('#top10ips').find('#ikey7').text();
				var ip8 = $('#top10ips').find('#ikey8').text();
				var ip9 = $('#top10ips').find('#ikey9').text();
				var ip10 = $('#top10ips').find('#ikey10').text();

				var val1 = parseInt($('#top10ips').find('.value1').text());
				var val2 = parseInt($('#top10ips').find('.value2').text());
				var val3 = parseInt($('#top10ips').find('.value3').text());
				var val4 = parseInt($('#top10ips').find('.value4').text());
				var val5 = parseInt($('#top10ips').find('.value5').text());
				var val6 = parseInt($('#top10ips').find('.value6').text());
				var val7 = parseInt($('#top10ips').find('.value7').text());
				var val8 = parseInt($('#top10ips').find('.value8').text());
				var val9 = parseInt($('#top10ips').find('.value9').text());
				var val10 = parseInt($('#top10ips').find('.value10').text());

				
				var graphData = {
						labels : [ ip1, ip2, ip3, ip4, ip5, ip6, ip7, ip8, ip9, ip10 ],
						datasets : [ {
							data : [ val1, val2, val3, val4, val5, val6, val7, val8, val9, val10 ],
							backgroundColor : [ '#FAA43A', '#DECF3F', '#5DA5DA', '#B276B2', '#DECF3F', '#FAA43A', '#5DA5DA', '#B276B2', '#000333' ,'#FAA43A' ]
						} ]
					};
				
				
				var bar = document.getElementById("ubar");
				window.myBar = new Chart(bar, {
					type : 'bar',
					data : graphData,
					options : {
						responsive : true,
						legend : {
							display : false
						},
						title : {
							display : false,
							text : 'Bar Chart'
						}
					}
				});
				
			</script>

		</div>
		<!-- end #content -->
	</div>
	<!-- ============================== -->

	<!-- begin scroll to top btn -->
	<a href="javascript:;"
		class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade"
		data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
	<!-- end scroll to top btn -->
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>


</body>
</html>

