<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Shadow-NET :: Statistics</title>


<!-- ========================================================== -->

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/jquery-ui.min.css}"
	href="../../assets/css/jquery-ui.min.css" />

<script type="text/javascript"
	th:src="@{/assets/js/jquery-migrate-1.1.0.min.js}"
	src="../../assets/js/jquery-migrate-1.1.0.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/jquery-ui.min.js}"
	src="../../assets/js/jquery-ui.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/jquery.slimscroll.min.js}"
	src="../../assets/js/jquery.slimscroll.min.js"></script>

<script type="text/javascript"
	th:src="@{/assets/js/jquery.sparkline.min.js}"
	src="../../assets/js/jquery.sparkline.min.js"></script>

<link rel="stylesheet"
	th:href="@{/assets/css/emojify-emoticons.min.css}"
	href="../../assets/css/emojify-emoticons.min.css" />

<script type="text/javascript" th:src="@{/assets/js/emojify.min.js}"
	src="../../assets/js/emojify.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/d3.v3.min.js}"
	src="../../assets/js/d3.v3.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/topojson.v1.min.js}"
	src="../../assets/js/topojson.v1.min.js"></script>


<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"
	href="../../assets/css/bootstrap.min.css" />

<script type="text/javascript" th:src="@{/assets/js/Chart.js}"
	src="../../assets/js/Chart.js"></script>

<script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"
	src="../../assets/js/bootstrap.min.js"></script>

<link rel="stylesheet" th:href="@{/assets/css/animate.min.css}"
	href="../../assets/css/animate.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/style.min.css}"
	href="../../assets/css/style.min.css" />

<link rel="stylesheet" th:href="@{/assets/css/style-responsive.min.css}"
	href="../../assets/css/style-responsive.min.css" />

<script type="text/javascript" th:src="@{/assets/js/dashboard.min.js}"
	src="../../assets/js/dashboard.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/apps.min.js}"
	src="../../assets/js/apps.min.js"></script>



</head>

<!-- ================== BEGIN BODY ================== -->
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container"
		class="fade page-sidebar-minified page-sidebar-fixed page-header-fixed">
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">

				<div id="navbar-logo"></div>

				<div id="nav-left"></div>

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown navbar-user"><a href="javascript:;"
						class="dropdown-toggle" data-toggle="dropdown"> <img
							src="assets/img/user-7.jpg" alt="" /> <span class="hidden-xs"><text
									th:inline="text"> [[${#httpServletRequest.remoteUser}]]</text></span>
							<b class="caret"></b>
					</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="/">Dashboard</a></li>
							<li><a href="/blocklist">Block List</a></li>
							<li data-toggle="modal" data-target=".bd-example-modal-lg"><a
								href="javascript:;">Clear Database</a></li>
							<li class="divider"></li>
							<li style="padding-left: 10px">
								<form th:action="@{/logout}" method="post">
									<button class="btn-xs btn-default" type="submit">Log
										Out</button>
								</form>
							</li>
						</ul></li>
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->

		<!-- =================begin #sidebar ===================== -->
		<div id="sidebar" class="sidebar"></div>
		<div class="sidebar-bg"></div>


		<!-- ===============begin #content===================== -->
		<div id="content" class="content">

			<!-- =========== PANEL 1 =================== -->
			<div class="col-sm-12 col-md-6">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">Top 10 Countries</h4>
					</div>
					<div class="panel-body" style="display: none">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Country</th>
									<th>Malicious Packets</th>
								</tr>
							</thead>
							<tbody id="top10countries">
							</tbody>
						</table>
					</div>
					<script th:inline="javascript">
					/*<![CDATA[*/
					var country = [[${top10countries}]];
					var count=1;
					var countryArray = [];
					for (var key in country){
						countryArray.push([key, country[key]]);
					}
					
					for(var index=0; index < 11; index++){
						var html = "<tr><td>" + count + "</td><td id='ckey" + count + "'>" + countryArray[index][0] + "</td><td class='value" + count + "'>" + countryArray[index][1] + "</td></tr>";
						$("#top10countries").append(html);
						count++;
						}
					/*]]>*/
					</script>

					<div class="panel-body">
						<div>
							<canvas id="cbar"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- ========== PANEL 2 =============== -->

			<div class="col-sm-12 col-md-6">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">Top 10 IPs</h4>
					</div>
					<div class="panel-body" style="display: none">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>IP</th>
									<th>Count</th>
								</tr>
							</thead>
							<tbody id="top10ips">
							</tbody>
						</table>
					</div>
					<script th:inline="javascript">
					/*<![CDATA[*/	
					var ips = [[${top10ips}]];
					var count=1;

					var ipsArray = [];
					for (var key in ips){
						ipsArray.push([key, ips[key]]);
					}
					
					for(var index=0; index < 10; index++){
						var html = "<tr><td id='ikey" + count + "'>" + ipsArray[index][0] + "</td><td class='value" + count + "'>" + ipsArray[index][1] + "</td></tr>";
						$("#top10ips").append(html);
						count++;
						}
					/*]]>*/
					</script>

					<div class="panel-body">
						<div>
							<canvas id="ubar"></canvas>
						</div>
					</div>
				</div>
			</div>

			<!-- =========== PANEL 3 =================== -->
			<div class="col-sm-6 col-md-6">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">Top 10 Urls</h4>
					</div>
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Url</th>
									<th>Count</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="packet : ${top10urls}">
									<td th:text="${packet.Key}"></td>
									<td th:text="${packet.Value}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- =========== PANEL 4 =================== -->
			<div class="col-sm-6 col-md-6">
				<div class="panel panel-inverse">
					<div class="panel-heading">
						<h4 class="panel-title">Top 10 Hashes</h4>
					</div>
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Md5 Hash</th>
									<th>Count</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="packet : ${top10hashes}">
									<td th:text="${packet.Key}"></td>
									<td th:text="${packet.Value}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- =========== PANEL 5 =================== -->

		</div>
		<!-- end #content -->
	</div>
	<!-- ============================== -->

	<!-- CLEAR DB: MODAL -->
	<div id="modal"></div>

	<!-- scroll to top btn -->
	<div id="up"></div>

	<script type="text/javascript" th:src="@{/js/stats.js}"
		src="../../js/stats.js"></script>
	<script type="text/javascript" th:src="@{/js/loadTemplates.js}"
		src="../../js/loadTemplates.js"></script>

	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>

</body>
</html>

